section{
    background: linear-gradient(to top right, #33ccff 0%, #339966 100%);
    height: 90vh;
    width: 85vw;
    margin: 9%;
    align-items: center;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-right: 10%;
    display: flex;
    justify-content:center;
}
.pic{
    display: flex;
    position: relative;
    height:80%;
    text-align: center;
    color: white;
    justify-content: center;
}
.top-left{
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
}
.center1{
    display: flex;
    position: absolute;
    top: 20%;
    left: 25%;
}
.center2{
    display: flex;
    position: absolute;
    top: 19%;
    left: 30%;
}
.center3{
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 25%;
}
.top-right{
    display: flex;
    position:absolute;
    top: 10px;
    left: 90%;
}
img{
    max-width: 100%;
    max-height: 100%;
}
label{
    display: inline-block;
    width: 120px;
}
.form{
    background-color: white;
    height: 80%;
    border-style: none;
    border-top: 50px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
}
h1{
    text-align: center;
    color:rgb(18, 141, 141);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: center;
}
#male{
    list-style: 9794;
}
#sub{
    
    text-align: center;
}
#reset{
    background-color: rgb(16, 16, 69);
    color: white;
    width: 80px;
    height: 25px;
    border-style: none;
}
#submit{
    background-color: rgb(18, 141, 141);
    color: white;
    width: 80px;
    height: 25px;
    border-style: none;
}
#button1, #button2, #button3{
    background-color: white;
    border-style: none;
}
#button1:focus, #button2:focus, #button3:focus{
    color:  rgb(18, 141, 141) ;
}
@media(max-width:600px) {
    section {
        background: none;
        position:absolute;
        font-size:x-small;
        flex-direction: column;
}
    div[class='form']{
        justify-content: center;
}
    div[class='pic']{
        display:flex;
        height: 100%;
        width: 100%;
        align-items: baseline;
        text-align: center;
    }
    #button1, #button2, #button3 {
        font-size: x-small;
    }
}
